{% extends 'base.html.twig' %}

{% block title %}TOCA MADERA{% endblock %}
{% block stylesheets %}
    <style type="text/css">
    h1{ text-align: center; color: brown ; font-family: Verdana; }
    h2 {text-align: center;color: brown ; font-family: Verdana;   }
    h3 {text-align: center;color: brown ; font-family: Verdana;   }
    </style>
            {#{{ encore_entry_link_tags('app') }}#}
{% endblock %}
{% block body %}
<h1>TOCA MADERA</h1>
<h2>TODOS LOS MUEBLES CON LA MEJOR MADERA DEL MERCADO</h2>
<h3>AMUEBLA TU CASA TOCANDO MADERA</h2>
{% endblock %}
