{% extends 'base.html.twig' %}

{% block title %}New Subcategoria{% endblock %}

{% block body %}
    <h1>Create new Subcategoria</h1>

    {{ include('subcategoria/_form.html.twig') }}

    <a href="{{ path('subcategoria_index', {'categoria': categoria.id}) }}">back to list</a>
{% endblock %}
